<h2>Sites map</h2>
<ul>

 <li>Dotclear
   <ul>
     <li><a href="http://dotclear.org/">Home</a></li>
     <li><a href="http://dotclear.org/download">Download</a></li>
     <li><a href="http://dotclear.org/extend">Extend</a></li>
     <li><a href="http://dotclear.org/license">License</a></li>
   </ul>
 </li>

 <li>About
   <ul>
     <li><a href="http://dotclear.org/about">About Dotclear</a></li>
     <li><a href="http://dotclear.org/blog/">Blog</a></li>
     <li><a href="http://dotclear.org/contact">Contact</a></li>
     <li><a href="http://dotclear.org/affiliates">Images library</a></li>
     <li><a href="http://dotclear.org/terms">Terms of use</a></li>
   </ul>
 </li>

 <li>Help &amp; support
   <ul>
     <li><a href="http://dotclear.org/documentation/">Documentation</a></li>
     <li><a href="http://dotclear.org/documentation/2.0/faq">Dotclear 2 FAQ</a></li>
     <li><a href="http://forum.dotclear.org/viewforum.php?id=18">Forum</a></li>
   </ul>
 </li>

 <li>Contribute
   <ul>
     <li><a href="http://dotclear.org/my/">Create an account</a></li>
     <li><a href="http://dotclear.org/donate/">Make a donation</a></li>
     <li><a href="http://dev.dotclear.org/2.0">Dotclear 2 Trac</a></li>
     <li><a href="http://hg.dotclear.org/">Source code</a></li>
   </ul>
 </li>

 <li>Satellite sites
   <ul>
     <li><a href="http://themes.dotaddict.org/galerie-dc2/">Themes on Dotaddict.org</a></li>
     <li><a href="http://plugins.dotaddict.org/dc2/">Plugins on Dotaddict.org</a></li>
   </ul>
 </li>
</ul>