<h2>Sites map</h2>
<ul>

 <li>Dotclear
   <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/download">Download</a></li>
     <li><a href="/extend">Extend</a></li>
     <li><a href="/license">License</a></li>
   </ul>
 </li>

 <li>About
   <ul>
     <li><a href="/about">About Dotclear</a></li>
     <li><a href="/blog/">Blog</a></li>
     <li><a href="/contact">Contact</a></li>
     <li><a href="/affiliates">Images library</a></li>
     <li><a href="/terms">Terms of use</a></li>
   </ul>
 </li>

 <li>Help &amp; support
   <ul>
     <li><a href="/documentation/">Documentation</a></li>
     <li><a href="/documentation/2.0/faq">Dotclear 2 FAQ</a></li>
     <li><a href="/forum/">Forum</a></li>
   </ul>
 </li>

 <li>Contribute
   <ul>
     <li><a href="/my/">Create an account</a></li>
     <li><a href="/donate/">Make a donation</a></li>
     <li><a href="http://dev.dotclear.net/1.0">Dotclear 1 Trac</a></li>
     <li><a href="http://dev.dotclear.net/2.0">Dotclear 2 Trac</a></li>
     <li><a href="http://hg.dotclear.org/">Source code</a></li>
   </ul>
 </li>

 <li>Satellite sites
   <ul>
     <li><a href="http://themes.dotaddict.org/galerie-dc2/">Themes on Dotaddict.org</a></li>
     <li><a href="http://plugins.dotaddict.org/dc2/">Plugins on Dotaddict.org</a></li>
   </ul>
 </li>
</ul>
