{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="dc-entry">
	<meta property="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}" />
	<meta property="dc.description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription encode_html="1"}}" />
	<meta property="dc.language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc.date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<tpl:Archives>
		<link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
	</tpl:Archives>
	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />
	<tpl:Categories>
		<link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle encode_html="1"}}" />
	</tpl:Categories>
	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-archive"></tpl:Block>

<tpl:Block name="main-content">
	<div id="content-info">
		<h2>{{tpl:lang Archives}}</h2>
	</div>

	<div class="content-inner">

		<div id="time-criteria"><!-- entries sorted by date -->
			<div id="arch-by-year" class="arch-block arch-by-year">
				<h3>{{tpl:lang By date}}</h3>
				<p class="fromto">{{tpl:lang FromDay}} <tpl:Entries no_content="1" order="asc" lastn="1"><a href="{{tpl:EntryURL}}">{{tpl:EntryDate format="%e %B %Y"}}</a></tpl:Entries> {{tpl:lang toDay}} <tpl:Entries no_content="1" order="desc" lastn="1"><a href="{{tpl:EntryURL}}">{{tpl:EntryDate format="%e %B %Y"}}</a></tpl:Entries></p>
				<tpl:Archives order="asc">
					<tpl:ArchivesYearHeader>
						<div class="arch-by-year__each-year">
							<h4>{{tpl:ArchiveDate format="%Y"}}</h4>
							<ul class="arch-list arch-year-list">
					</tpl:ArchivesYearHeader>
								<li><a href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}">{{tpl:ArchiveDate encode_html="1" format="%B"}}</a>
									<span>({{tpl:ArchiveEntriesCount}})</span></li>
					<tpl:ArchivesYearFooter>
							</ul>
						</div>
					</tpl:ArchivesYearFooter>
				</tpl:Archives>
			</div>
		</div>

		<div id="other-criteria"><!-- entries sorted by others criterias -->
			<tpl:Categories level="1">
				<tpl:CategoriesHeader>
					<div id="arch-by-cat" class="arch-block arch-by-cat">
						<h3>{{tpl:lang By category}}</h3>
						<ul class="arch-list arch-cat-list">
							</tpl:CategoriesHeader>
							<li><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a>
							<tpl:CategoryFirstChildren>
								<tpl:CategoriesHeader>
								<ul class="arch-list arch-sub-cat-list">
								</tpl:CategoriesHeader>
									<li><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a></li>
								<tpl:CategoriesFooter>
								</ul>
								</tpl:CategoriesFooter>
							</tpl:CategoryFirstChildren>
							</li>
					<tpl:CategoriesFooter>
						</ul>
					</div>
					</tpl:CategoriesFooter>
			</tpl:Categories>

			<tpl:Tags sortby="count" order="desc">
				<tpl:TagsHeader>
					<div id="arch-by-tag" class="arch-block arch-by-tag">
						<h3>{{tpl:lang By tag}}</h3>
						<ul class="arch-list arch-tag-list">
				</tpl:TagsHeader>
							<li><a href="{{tpl:TagURL}}" class="tag{{tpl:TagRoundPercent}}">{{tpl:TagID}}</a></li>
				<tpl:TagsFooter>
						</ul>
					</div>
				</tpl:TagsFooter>
			</tpl:Tags>
		</div>

		<div id="more-arch"><!-- others things -->
			<div id="arch-by-page" class="arch-block arch-by-page">
				<tpl:Entries type="page" no_content="1" lastn="0" selected="0">
					<tpl:EntriesHeader>
						<h3>{{tpl:lang Pages}}</h3>
						<ul class="arch-list arch-page-list">
					</tpl:EntriesHeader>
							<li><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></li>
					<tpl:EntriesFooter>
						</ul>
					</tpl:EntriesFooter>
				</tpl:Entries>
			</div>
		</div>
	</div> <!-- End .content-inner -->
</tpl:Block>

<tpl:Block name="wrapper-sidebar">
	<div class="sidebar" id="sidebar" role="complementary">
		<tpl:IfWidgets type="extra">
			<div class="widgets blogextra__widgets" id="blogextra">
		        <h2 class="blogextra__title">{{tpl:lang Dotclear Galaxy}}</h2>
				{{tpl:Widgets type="extra"}}
			</div> <!-- End #blogextra -->
		</tpl:IfWidgets>
	</div> <!-- End #sidebar -->
</tpl:Block>