<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />

	<title>{{tpl:lang Dotclear: Take control over your blog!}}</title>
	<meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:title" content="{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:creator" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta property="dc:language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
	<meta property="dc:rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
	<meta property="dc:publisher author" content="{{tpl:BlogEditor encode_html="1"}}" />

	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />

  <tpl:Entries no_content="1">
	<tpl:EntriesHeader>
	  <tpl:Pagination>
		<tpl:PaginationIf end="0">
		<link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
		</tpl:PaginationIf>

		<tpl:PaginationIf start="0">
		<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
		</tpl:PaginationIf>
	  </tpl:Pagination>
	</tpl:EntriesHeader>

  </tpl:Entries>

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="{{tpl:BlogRSDURL}}" />
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />

  {{tpl:include src="_head.html"}}
</head>

<body class="dc-index" id="body">
<div id="page">
	{{tpl:include src="_top-index.html"}}
	<div id="wrapper">

		<div id="dc-index-main" role="main" vocab="http://schema.org/" typeof="Blog">

			<tpl:Entries url="control-blog" type="page" lastn="1" no_context="1">
				<div class="features">{{tpl:EntryContent}}</div>
		  </tpl:Entries>

<!-- # zone dotaddict -->

		<div class="dc-index-content">
<!-- # zone communauté utilisateurs et developpeurs -->
		  <div class="codev-zone">
				<h2 class="co-title">{{tpl:lang A community of users and contributors}}</h2>

				<div class="primary-zone">
						<!-- # dernier billet du blog -->
						<div class="news">
							<h3>{{tpl:lang Last news on the blog}}</h3>

						  <tpl:Entries lastn="1">
						    <span class="post-date">{{tpl:EntryDate format="%e/%m/%Y"}} </span>
								<h4 class="post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h4>
								{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
								<!-- # Entry with an excerpt -->
								<tpl:EntryIf extended="1">
									<div class="post-content">
										{{tpl:EntryFirstImage size="t" class="post-icon"}}
										{{tpl:EntryExcerpt}}
									</div>
									<p class="read-it"><a href="{{tpl:EntryURL}}" title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue reading}}</a></p>
								</tpl:EntryIf>
								<!-- # Entry without excerpt -->
								<tpl:EntryIf extended="0">
									<div class="post-content">
										{{tpl:EntryFirstImage size="t" class="post-icon"}}
										<p>
											{{tpl:EntryContent encode_html="1" remove_html="1" cut_string="300"}} &nbsp;[…]
											<span class="read-it"><a href="{{tpl:EntryURL}}" title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue reading on Dotclear Blog}}</a></span>
										</p>
									</div>
								</tpl:EntryIf>
								{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
						  </tpl:Entries>
						</div><!-- end news short -->

						<!-- # utilisateurs notables -->
						<h3>{{tpl:lang They use Dotclear}}...</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, voluptatibus, corporis explicabo modi saepe eum delectus totam nemo iure temporibus suscipit architecto id sunt illum tempora! Labore nostrum sint quo?</p>

						<tpl:Entries url="developers" type="page" lastn="1" no_context="1">
							<h3>{{tpl:EntryTitle encode_html="1"}}</h3>
							<div class="post-content">{{tpl:EntryContent}}</div>
				  	</tpl:Entries>
					</div> <!-- end codev-zone primary -->


				<div class="secondary-zone">
					<!-- Asso, promo, dons -->
					<tpl:Entries url="Promotion" type="page" lastn="1" no_context="1">
					<div class="post-content">{{tpl:EntryContent}}</div>
			  	</tpl:Entries>
				</div> <!-- end codev-zone secondary -->
			</div>

			<div class="da-zone">
				<h2 class="da-title">{{tpl:lang Dotaddict, le centre de ressources pour Dotclear}}</h2>

			  <div class="primary-zone">
					<tpl:Entries url="dotaddict" type="page" lastn="1" no_context="1">
						<div class="post-content">{{tpl:EntryContent}}</div>
			  	</tpl:Entries>
			  </div> <!-- end da-zone primary -->

			  <div class="secondary-zone">
			  	<!-- dernier thème publié -->
			  	<h3>{{tpl:lang Last published theme}}</h3>
					<tpl:Widget id="feed">
  					<setting name="title"></setting>
  					<setting name="url">http://themes.dotaddict.org/galerie-dc2/feed/atom</setting>
  					<setting name="limit">1</setting>
  					<setting name="homeonly">0</setting>
  					<setting name="content_only">0</setting>
  					<setting name="class"></setting>
  				</tpl:Widget>
  				<!-- à supprimer quand on aura les vrais flux -->
  				<img src="http://placehold.it/270x200" alt="">
			  	<!-- derniers plugins publiés -->
  				<h3>{{tpl:lang Last published plugins}}</h3>
  				<tpl:Widget id="feed">
  					<setting name="title"></setting>
  					<setting name="url">http://feeds.dotaddict.org/da_plugins/dc2</setting>
  					<setting name="limit">2</setting>
  					<setting name="homeonly"></setting>
  					<setting name="content_only">0</setting>
  				</tpl:Widget>
			  </div><!-- end da-zone secondary -->

			</div> <!-- end da-zone -->

		</div>
		</div> <!-- End #main -->

	</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>
