@charset "UTF-8";

/* Mon compte - scss/all_sites/_m-connexion
-------------------------------------------------------- */
// nécessite collapse.js
.compte {
  position: absolute;
  z-index: 1000;
  top: .25em;
  right: 0;
  width: 24em;
  margin: 0 auto;
  color: #fff;

  font-size: .875em;
  text-align: right;
}

.compte .expander {
  margin-bottom: 0;
  font-size: 1em;
  font-family: $form-font;
}

.compte .collapse-trigger {
  background-color: $medium-grey;
  border: none;
  border-radius: 0;
  color: #fff;
  padding-left: 1em;
  padding-right: 32px;
  background: $medium-grey url(../i/account.svg) no-repeat center right;

  &:focus {
    background-color: #000;
    border: 1px dotted #fff;
  }

  &[aria-expanded="true"] {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border: 1px solid $border-light-grey;
    border-bottom: none;
  }
}

.login-box {
  padding: 2em 2em 1em 2em;
  color: #fff;

  background-color: $medium-grey;
  border: 1px solid $border-light-grey;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border-top-left-radius: .5em;
  box-shadow: 2px 2px 4px rgba(200, 200, 200, .6);

  text-align: left;
}

.login-box form {
  font-family: $form-font;
}

.login-box input[type=text],
.login-box input[type=password] {
  width: 100%;
  padding: 0 .25em;
  display: block;

  line-height: 1.5;
  color: $accent-2;
}

.forgot-password {
  font-size: .915em;
  font-style: italic;
  color: $bg-light-grey;
}

.send-login {
  margin-top: 3em;
  margin-bottom: 1em;

  text-align: center;

  .btn-highlight {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1em;
  }
}

.more-account {
  text-align: center;
}

.more-account-link {
  color: #fff !important; // shame on me
  text-decoration: none;
  border-bottom: 1px solid $border-light-grey;

  &:hover,
  &:focus {
    color: #000;
  }
}
