@charset "UTF-8";

/* main-nav et sub-nav - scss/all_sites/_m-navigation
-------------------------------------------------------- */

/////////////// WARNING ////////////////
//  Il faudra faire le ménage dans tout
//  ça après le passage de Mathieu
////////////////////////////////////////

/* main-nav */
.nav-primary {
  font: normal 1em $arsenal;
}

.info-navs {
  position: absolute;
  left: -999em;
}

.nav-primary ul {
  border: 1px solid $border-light-grey;
}

.nav-primary li {
  border-bottom: 1px solid #eee;
}

.nav-primary li:last-child {
  border-bottom: 0;
}

.nav-primary a {
  display: block;
  padding: .5em .8em;

  text-decoration: none;
}

.nav-primary a:hover,
.nav-primary a:focus,
.nav-primary .cur {
  color: $body-color;

  background-color: #efefef;
}

.nav-primary .cur {
  font-weight: bold;
}

.nav-primary .cur a {
  color: darken($accent-1, 5%);

  font-weight: bold;
}

.nav-primary a img {
  vertical-align: top;
}

/* sub-nav */
#subnav {
  clear: both;
  padding: .25em 0;

  background: #fff;

  line-height: 1.8;
}

#subnav ul {
  margin: 0 .5em;
  padding: 0 .5em;

  background-color: $bg-header;

  text-align: left;
}

#subnav li {
  display: inline;
  padding: 0 .5em;

  border-right: 1px solid $accent-2;

  font-size: .875em;
}

#subnav li:last-child {
  padding-right: 0;

  border-right: none;
}

#subnav a {
  text-decoration: none;
}

#subnav a:hover,
#subnav a:focus {
  text-decoration: underline;
}

#subnav li.cur a {
  font-weight: bold;
}

#switchlangs {
  float: left;
  margin: 0 0 0 .5em;

  font-size: .875em;
  line-height: 2;

  @media screen and (max-width: 40em) {
    float: none;
  }
}

#switchlangs a {
  text-decoration: underline;
}

.tinynav_label,
.tinynav {
  display: none;
}

/**
*   Un poil de jQuery pour présenter le menu principal
*   comme un sélecteur (et une icône "hamburger")
*   Le js ajoute une class "nav-menu" au body lorsque
*   ses liens ne tiennent plus sur la même ligne
*/
.nav-menu #nav {
  position: relative;
  overflow: hidden;
  margin: 0;

  background: #fff;

  text-align: left;
}

.nav-menu #nav a {
  padding: .5em .8em;
}

.nav-menu #nav .info-navs {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  width: 4em;
  padding: .55em 0;

  background: #ccc url(../i/hamburger.png) no-repeat center .9em;

  text-indent: -999em;

  cursor: pointer;
}

.nav-menu #nav.expanded h3 {
  background-position: center .5em;
}

.nav-menu #nav li {
  display: none;
  clear: left;
}

.nav-menu #nav.expanded li,
.nav-menu #nav li.cur {
  display: list-item;
}

.nav-menu #nav li.cur {
  border-bottom-width: 0;
}

.nav-menu #nav.expanded li.cur {
  border-bottom-width: 1px;
}

/**
*  MEDIA QUERIES pour le header et la navigation secondaire
*
*  - mobiles : connexion centrée, espace vertical réduit,
*    logo en plus petit, items du sous-menu en "quadrillage",
*    switcher de langue sous le sous-menu
*  - écrans > 672px : menu principal sur une ligne avec onglets,
*    navigation secondaire et switcher sur une seule ligne
*/

@media screen and (max-width: 30em) {
  .nav-menu #nav .info-navs {
    width: 38px;

    background-color: #ececec;
  }

  .nav-menu #nav li.cur {
    background: #fff;
  }

  #subnav ul {
    padding: 0;

    background: #fff;
  }

  #subnav li {
    display: block;
    float: left;
    width: 50%;
    padding: 0;

    border-right: none;
    border-bottom: 1px solid #ccc;

    line-height: 2;
  }

  #subnav li:nth-child(2n+1):last-child {
    width: 100%;
  }

  #subnav li a {
    display: block;
    padding: 0 .5em;
  }

  /* on supprime la liste et on affiche
      le sous menu en select si js est présent */
  .nav-menu #sub-nav {
    display: none;
  }

  .nav-menu #subnav {
    padding: .5em;
  }

  .nav-menu .tinynav_label {
    display: inline;
    padding: 0 .5em;
  }

  .nav-menu .tinynav {
    position: relative;
    display: inline-block;
    width: 100%;

    color: 0 1px 2px rgba(0,0,0,.13), inset 0 1px 0 #fff;

    background-color: #fafafa;
    background-image: linear-gradient(bottom, #efefef 0%, #fafafa 100%);
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #fff;

    font-family: inherit;
  }

  .tinynav option {
    padding-left: 1em;
  }

  /* switcher */
  #switchlangs {
    clear: both;
    margin-top: .5em;
  }
}

@media screen and (min-width: 42em) {
  .nav-primary {
    padding-left: 1em;
    padding-right: 1em;
    background: transparent;

    text-align: right;
  }

  .info-navs {
    left: -999px;
  }

  .nav-primary ul {
    margin-bottom: 0;

    border: none;
  }

  .nav-primary li {
    display: inline-block;

    border-color: #cecece;
    border-bottom: none;
  }

  .nav-primary a {
    display: block;
    padding: 5px 10px;

    text-decoration: none;
  }

  .nav-primary a:hover,
  .nav-primary a:focus,
  .nav-primary .cur {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
  }

  #subnav ul {
    float: right;

    background: #efefef;
  }

  #subnav {
    background: #efefef;
    border-bottom: 1px solid #ccc;
  }
}

/* sub-nav */
.lang a {
  text-decoration: none;
}

.simple-menu {
  display: inline-block;

  list-style: none;
}

.simple-menu li {
  display: inline;
  padding: .2em .4em;
}

.simple-menu a {
  text-decoration: none;
}

.simple-menu .active a {
  color: darken($accent-1, 5%);
}
