@charset "UTF-8";

// ************************************************
// *********** devrait disparaître ? **************
// ************************************************

@import "all_sites";

/* sub-header */
.sub-header {
  height: 32px;
  padding-top: 5px;

  background-color: #efefef;

  border-bottom: 1px solid #b2b2b2;

  font: normal .938em $arsenal;
}
.lang a {
  text-decoration: none;
}

.simple-menu {
  display: inline-block;

  list-style: none;

  text-transform: uppercase;
}
.simple-menu li {
  display: inline;

  padding: .2em .4em;
}
.simple-menu a {
  text-decoration: none;
}
.simple-menu .active a {
  color: #c44d58;
}

#search {
  display: inline-block;

  margin-top: 0;
}
#search h2 {
  margin: 0 3px 0 0;

  font-size: 1em;
  font-weight: normal;

  text-transform: uppercase;
}
#search h2,
#search form {
  display: inline-block;
}
#search fieldset {
  margin: 0;
  padding: 0;

  border: none;
}
#q {
  width: 120px;
  padding-right: 20px;

  color: #6b6b6b;

  background: #fff url(../i/loupe.png) no-repeat right center;

  border: 1px solid #bfbfbf;
  border-radius: 3px;
}
#search .submit {
  padding: 0;

  color: #6b6b6b;

  background: none;

  border: 1px solid #fff;

  font-weight: bold;

  text-transform: uppercase;
}
#search .submit:hover {
  color: #fff;

  background: #c44d58;

  border: 1px solid #c44d58;
}

#breadcrumb {
  padding-left: 10px;

  color: $medium-grey;

  font-size: .813em;
}
#breadcrumb a {
  color: $body-color;
}

/* basic layout */
#content {
  max-width: 45em;
  padding: 0 10px;
}

#sidebar {
  width: 15em;
  margin-top: 30px;
  padding: 0 10px;
}


/* Sidebar styles
-------------------------------------------------------- */
#sidebar h1 {
  color: #137bba;

  font-size: 1.125em;

  text-transform: uppercase;
}
#sidebar h2 {
  font-size: 1em;
}
#sidebar h3 {
  margin: 1em 0 .5em;

  color: #279ac4;
}
#sidebar {
  font-size: .875em;
}

#sidebar div div {
  margin-bottom: 2em;
}
#sidebar div div div {
  margin-bottom: 0;
}

#sidebar ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
#sidebar li {
  display: block;

  margin: 0;
  padding: 4px 0;
}
#sidebar li a {
  color: #5f6060;

  text-decoration: none;
}
#sidebar li a:hover,
#sidebar li a:focus,
#sidebar li a:active {
  text-decoration: underline;
}
#sidebar ul ul {
  margin: 0;
  padding: 0 0 0 15px;

  list-style: disc;

  border: none;
}
#sidebar li li {
  display: list-item;

  margin: .5em 0 0 0;
  padding: 0 0;

  border: none;
}

#topnav ul {
  padding: 4px 0;

  border-bottom: 1px solid #ffd02c;
}
#topnav li {
  display: inline;

  border-bottom: none;
}

#sidebar .syndicate ul {
  border-top: none;
}
#sidebar .syndicate li {
  border-bottom: none;
}

#sidebar .categories li.category-current {
  font-weight: bold;
}
#sidebar .categories li.category-current li {
  font-weight: normal;
}

#sidebar .tags ul {
  border-top: none;

  font-size: 1.1em;

  text-align: justify;
}
#sidebar .tags ul li {
  display: inline;

  margin: 0;
  padding: 0;

  background: none;

  border: none;

  line-height: 1.8em;
}

ul.tags {
  margin: 1em 0;
  padding: 0;

  list-style: none;

  font-size: 1.3em;

  text-align: justify;
}
ul.tags li {
  display: inline;

  margin: 0;
  padding: 0;

  line-height: 1.8em;
}


/* Main content styles
-------------------------------------------------------- */

.day-date {
  display: inline-block;

  padding: 0 3px;

  background-color: #ececec;

  border-radius: 2px;

  font-size: 1em;
}
.first .day-date {
  background-color: #bbdb58;
}

.post {
  margin: 0 0 2em 0;
}
.dc-home .first .post-title {
  font-weight: bold;
}
.dc-home .post-title {
  display: inline;

  margin-left: 5px;

  color: #c44d58;

  font-weight: normal;
}
.post-title a {
  color: #c44d58;

  text-decoration: none;
}
.post-title a:hover,
.post-title a:focus {
  text-decoration: underline;
}

.post-tags {
  margin: 1em 0 1em;
  padding: 3px 0;

  list-style: none;
}
.post-tags li {
  display: inline;

  margin-right: 8px;
  padding: 5px 0 5px 22px;

  background: transparent url(../i/tag.png) no-repeat 0 70%;
}
.post-tags li a {
  color: $medium-grey;
}

.post-info {
  padding: 3px 0 3px .5em;

  color: $medium-grey;
}
.post-info a {
  color: $medium-grey;
}

.read-it {
}

.share {
  display: block;

  width: 389px;
  height: 26px;
  margin: 10px 0;
  padding: 5px 0 0;

  background: transparent url(../i/share.png) no-repeat left center;

  font-size: .875em;
}
.share a {
  padding: 0 14px 0 31px;

  text-decoration: none;
}
.share a:hover,
.share a:focus {
  background: transparent;

  text-decoration: underline;
}

a.feed {
  padding: 5px 0 5px 22px;

  background: transparent url(../i/feed.png) no-repeat 0 .25em;
}

.dc-home .first {
  border-bottom: 1px solid #c44d58;
}

/* Post content
-------------------------------------------------------- */
.post-content,
.post-excerpt,
#comments dd,
#pings dd,
dd.comment-preview {
  line-height: 1.4em;
}
.post-content acronym,
.post-excerpt acronym {
  border-bottom: 1px dotted $medium-grey;

  cursor: help;
}

.post-content pre,
.post-excerpt pre {
  padding: 10px ;

  font: 1.1em $code-font;
}

.post-content ul,
.post-excerpt ul,
.post-content ol,
.post-excerpt ol {
  margin: 0 0 .5em 0;
  /*  padding: 0 0 0 15px;*/
}

/* .post-content li, .post-excerpt li {
  margin: 0;
  padding: 0;
} */

.post-content blockquote,
.post-excerpt blockquote {
  margin: 4px 0 4px 0;
  padding: 0 5px;

  border-left: 4px solid #bfbfbf;
}


#attachments h3 {
  font-size: 1.2em;
}

#attachments ul {
  margin: 0;
  padding: 4px 0;

  list-style: none;
}

#attachments li {
  margin: 0 0 .6em;
  padding: 2px 10px 2px 18px;

  background: transparent url(../i/attach.png) no-repeat 0 50%;
}

#attachments li object {
  display: inline;

  margin: 0;
  padding: 0;

  vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
  clear: both;
}
#comments h3,
#comment-form h3,
#pings h3 {
  margin: 20px 0 8px 0;
  padding: 5px;

  background: $bg-light-grey;

  border-width: 1px 0;
  border-style: solid;
  border-color: $border-light-grey;

  font-size: 1.2em;
}

#comments dt {
  margin: 1.5em 0 0 0;
  padding: 5px 0 16px 0;

  background: transparent url(../i/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
  background-image: url(../i/commentmy-t.png);
}
#comments a.comment-number {
  display: block;
  float: left;

  width: 30px;
  margin-right: 40px;

  font-size: 1.2em;
}
#comments dd {
  margin: 0;
  padding: 1px 1em .5em 1em;

  color: #6b6b6b;

  background: #fffad1 url(../i/comment-b.png) no-repeat bottom left;
}
#comments dd.me {
  color: $medium-grey;

  background-color: #f5f9d9;
  background-image: url(../i/commentmy-b.png);
}
#comments dd p {
  margin: .5em 0;

  line-height: 1.5em;
}

.error {
  margin: 20px 0 0;
  padding: 10px 5px;

  background: #fcc;

  border: 2px solid red;

  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
  padding-top: 10px;
}

#comment-form fieldset {
  border: none;
}
#comment-form fieldset p {
  padding: 5px 0;
}
#comment-form fieldset p.field {
  clear: left;

  width: auto;
  margin: 0;
  padding: 5px 0;
}
#comment-form p.form-help {
  width: 60%;
  margin: 0 0 0 30%;

  font-style: italic;
}

#comment-form p label {
  width: auto;
}
#comment-form p.field label {
  display: block;
  float: left;

  width: 29%;
  padding: 0 1% 0 0;

  font-weight: bold;

  text-align: right;
}
#comment-form input,
#comment-form textarea {
  width: 68%;
  padding: 1px 2px;

  color: $color_co;

  border: 1px solid $border-light-grey;

  font: 1em $form-font;
}

#comment-form p.remember {
  margin: 0;
}
#comment-form input#c_remember {
  width: auto;
  margin: 0 5px 0 30%;

  border: 0;
}
#comment-form input.preview {
  margin-left: 30%;
}

#comment-form input.preview,
#comment-form input.submit {
  width: auto;

  color: $color_co;

  background: #fff;

  border: 1px solid #fff;

  font-size: 1em;
  font-weight: bold;

  text-transform: uppercase;
}
#comment-form input.preview:hover,
#comment-form input.submit:hover {

}

/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */

table,
.table {
  max-width: 100%;

  table-layout: fixed;

  border-collapse: collapse;

  vertical-align: top;
}
table {
  width: 100%;
}
.table {
  display: table;
}
table#recaptcha_table,
table.table-auto {
  table-layout: auto;
}
caption {
  padding: 10px;

  color: #555;

  font-style: italic;
}
table {
  border: 1px solid #ccc;
}
tr > * + * {
  border-left: 1px solid #ccc;
}
th,
td {
  padding: .3em .8em;

  border-bottom: 1px solid #ccc;

  text-align: left;
}
td {
  color: #333;
}

/* alternate tables */
.alternate {
  border: 0;
}
.alternate tbody {
  border: 1px solid #ccc;
}
.alternate thead tr > * + * {
  border-left: 0;
}
.alternate tbody tr > * + * {
  border-left: 1px solid #ccc;
}

/* alternate-vert tables */
.alternate-vert {
  border: 0;
  border-right: 1px solid #ccc;
}
.alternate-vert tr > :first-child {
  border-bottom: 0;
}
.alternate-vert tr > * + * {
  border-top: 1px solid #ccc;
}

/* striped tables */
.striped tbody tr:nth-child(odd) {
  background: #eee;
  background: rgba(0, 0, 0, .05);
}

/* striped-vert tables */
.striped-vert tr > :first-child {
  background: #eee;
  background: rgba(0, 0, 0, .05);
}
