@charset "UTF-8";

/* layout des blocs du wrapper - scss/blog/_l-wrapper
-------------------------------------------------------- */
#wrapper {
  @extend %clearfix;
  padding-right: .5em;
  padding-left: .5em;
}

#content {
  max-width: 45em;
  margin-top: 2em;
}

#sidebar {
  margin-top: 2em;

  @media screen and (min-width: 40em) {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  #blogextra {
    display: inline-block;
    width: 48%;

    vertical-align: top;
  }

  #blognav {
    display: inline-block;
    width: 48%;

    vertical-align: top;
  }
}

@media screen and (min-width: 60em) {
  .max-page {
    width: 80em !important;
  }
  #main, #sidebar {
    display: inline-block;
    vertical-align: top;
  }
  #blognav, #blogextra {
    display: block;
    margin-right: 0;
  }
  #main {
    width: 75%;
    margin-right: 5%;
  }
  #sidebar {
    width: 19%;
  }
  #blognav,
  #blogextra {
    width: auto;
  }
  .dc-page,
  .dc-post {
    #main, #sidebar {
      width: auto;
      display: block;
    }
    #content {
      margin: 0 auto;
    }
  }
}
