@charset "UTF-8";

/* Comments and trackbacks - blog/_m-comments
-------------------------------------------------------- */
#comments-feed {
  margin-bottom: 2em;
}

#comments-feed .feed {
  padding: .25em 0 .25em 22px;

  background: transparent url(../i/feed.png) no-repeat 0 .5em;
}

.post-feedback {
  clear: both;
}

.post-feedback h3 {
  margin: 2em 0 .5em 0;
  padding: .25em .5em;

  background: $bg-light-grey;
  border-width: 1px 0;
  border-style: solid;
  border-color: $border-light-grey;

  font-size: 1.2em;
}

.comments-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.comments-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.comments-list li.first {
  border-top: 1px solid $border-light-grey;
}

.comment, .ping {
  overflow: hidden;
  padding: 1.75em 1.5em 1.5em 4em;
  background-color: darken($bg-light-grey, 5%);
  border-bottom: 1px solid $border-light-grey;
}

.comment.odd,
.ping.odd {
  background-color: darken($bg-light-grey, 1%);
}

.comment.me {
  background-color: lighten($bg-header, 15%);
}

.comment-info {
  font-family: $arsenal;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.comment-number {
  display: block;
  float: left;
  width: 2.5em;
  height: 2.5em;
  margin-left: -3.5em;
  margin-right: 1em;
  margin-top: -.5em;
  border-radius: .5em;
  background-color: white;
  z-index: 1000;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  color: darken($accent-1, 5%);
  border: 1px solid $border-light-grey;
  &:hover,
  &:focus {
    background-color: $accent-1;
    color: #fff;
  }
}

.error {
  margin: 1em 0 0;
  padding: .5em .25em;

  background: $bg-error;
  border: 2px solid $accent-1;

  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
.comment-form-inner, #ping-url, .pr-inner {
  overflow: hidden;
  padding: .75em 1em .5em;
  margin-bottom: 2em;
  background-color: $bg-light-grey;
  border: 1px solid $border-light-grey;
}

.comment-form p {
  padding: .25em 0;
}

.field {
  clear: left;
  width: auto;
  margin: 0;
  padding: .25em 0;
}

.form-help, .remember {
  width: 65%;
  margin: 0 0 0 30%;

  font-style: italic;
  font-size: 0.875em;
}

.field label {
  display: block;
  float: left;
  width: 28%;
  padding: 0 1% 0 0;

  text-align: right;
}

.comment-form textarea {
  width: 69%;
  padding: 1px 2px;

  color: $color_co;

  font: 1em $form-font;
}

#c_remember {
  width: auto;
  margin: 0 .25em 0 30%;

  border: 0;
}

.remember,
.buttons {
  margin: 0;
}

.buttons {
  text-align: right;
}

.buttons .preview {
  margin-left: 30%;
}

.buttons .btn-highlight {
  margin-left: 1em;
}

.fieldset {
  margin-bottom: 3em;
}
