@charset "UTF-8";

/** Sidebar styles - scss/blog/_sidebar
//   pas d'indications de layout ici
-------------------------------------------------------- */

#sidebar {
  @extend %clearfix;

  padding-top: 2.5em;
  line-height: 1.25;

  @media screen and (min-width: 40em) {
    font-size: .875em;
  }
}

#sidebar h2,
#sidebar h3 {
  font-weight: bold;
}

#sidebar h2 {
  color: $accent-2;

  font-size: 1.125em;
  text-transform: uppercase;
}

#sidebar h3 {
  font-size: 1em;
  margin: 1em 0 .5em;
}

#sidebar div div {
  margin-bottom: 2em;
}

#sidebar div div div {
  margin-bottom: 0;
}

#sidebar ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

#sidebar li {
  display: block;
  margin: 0;
  padding: 4px 0;
}

#sidebar li a {
  color: $dark-grey;

  text-decoration: none;
}

#sidebar li a:hover,
#sidebar li a:focus,
#sidebar li a:active {
  text-decoration: underline;
}

#sidebar ul ul {
  margin: 0;
  padding: 0 0 0 15px;

  list-style: disc;

  border: none;
}

#sidebar li li {
  display: list-item;
  margin: .5em 0 0 0;
  padding: 0 0;

  border: none;
}

#sidebar .syndicate ul {
  border-top: none;
}

#sidebar .syndicate li {
  border-bottom: none;
}

#sidebar .categories li.category-current {
  font-weight: bold;
}

#sidebar .categories li.category-current li {
  font-weight: normal;
}

#sidebar .tags ul {
  border-top: none;

  font-size: 1.1em;
}

#sidebar .tags ul li {
  display: inline;
  margin: 0;
  padding: 0;

  background: none;
  border: none;

  line-height: 1.8em;
}

ul.tags {
  margin: 1em 0;
  padding: 0;

  list-style: none;

  font-size: 1.3em;
  text-align: justify;
}

ul.tags li {
  display: inline;
  margin: 0;
  padding: 0;

  line-height: 1.8em;
}
