#content-info {
  margin-bottom: 2em;
  padding-bottom: .5em;

  border-bottom: 1px solid $border-light-grey;

  a:link,
  a:visited {
    color: $medium-grey;
  }
}

#content-info h2 {
  color: $accent-2;

  font-weight: normal;

  @media all and (min-width: 40em) {
    margin-top: 1em;

    font-size: 2em;
    line-height: 1;
  }
}

.content-info__feed {
  margin-left: 0;
  padding-left: 0;

  list-style-type: none;

  .feed {
    padding: .25em 0 .25em 22px;

    background: transparent url(../i/feed.png) no-repeat 0 .5em;
  }
}
