div.part-tabs { 
	line-height: 1.4;
}

div.part-tabs ul {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	border-bottom: 1px solid #b7b4a9;
}
div.part-tabs ul li {
	display: block;
	float: left;
	margin: 0 1.5em 0 0;
	padding: 0 0 0.5em 0;
}
div.part-tabs ul li a {
	border: none;
	font-weight: bold;
	color: #999;
	outline: none;
}
div.part-tabs ul li.part-tabs-active a {
	color: #000;
}

#features .excerpt {
	text-align: justify;
}
#features ul li {
	margin: 1em 0 0 30px;
	text-align: justify;
	color: #444;
}
#features ul li strong {
	color: #000;
}
#features ul li.main-f {
	list-style: none;
	margin-left: 0;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#features li.f-install	{ background-image: url(i/feat_install.png); }
#features li.f-users	{ background-image: url(i/feat_users.png); }
#features li.f-extend	{ background-image: url(i/feat_extend.png); }
#features li.f-media	{ background-image: url(i/feat_media.png); }
#features li.f-aspect	{ background-image: url(i/feat_aspect.png); }
#features li.f-antispam	{ background-image: url(i/feat_antispam.png); }
#features li.f-pages	{ background-image: url(i/feat_pages.png); }
#features li.f-lang 	{ background-image: url(i/feat_lang.png); }
#features li.f-gpl 		{ background-image: url(i/feat_gpl.png); }
#features li.f-all 		{ background-image: url(i/feat_all.png); }

h2 {
	margin-top: 0em;
}

#screenshots ul {
	display: block;
	width: 100%;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
#screenshots ul li {
	float: left;
	width: 253px;
	padding: 0;
	margin: 0 0 30px 0;
	text-align: center;
}
#screenshots ul li a {
	border: none;
}
#screenshots ul li img {
	border: 1px solid #ccc;
}

span.jq-modal-legend {
	padding: 5px 0;
	font-size: 1.2em;
	font-weight: bold;
}
