/* --------------------------------------------------------
Dotclear.net (c) 2008. All rights reserved.
---------------------------------------------------------*/

/* Common
-------------------------------------------------------- */
address {
	font-style: normal;
}
img {
	border: none;
}
table {
	font-size: 1em;
}
p {
	margin: 1em 0;
}
blockquote {
	margin-left: 2em;
}

pre, code {
	font: 1em "Andale Mono","DejaVu Sans Mono","Courier New",Courier,monospace;
}
pre {
	border-left: 4px solid #b9b4ac;
	margin: 1em 0;
	padding: 0.5em;
	overflow: auto;
	color: #4c4c4c;
	background: #e5e4e2;
}

/* Links */
a:link, a:visited {
	color : #626b73;
	text-decoration: none;
	border-bottom: 1px dotted #626b73;
}
a:hover, a:focus, a:active, a:link:hover, a:link:visited, a:hover:visited {
	color: #1a2d52;
}
a[name]:hover {
	color: inherit;
}

/* Titles */
h1,h2,h3,h4,h5,h6 {
	margin: 0.8em 0;
}
h1 {
	color: #626b73;
	font: 2em Times,"Times New Roman",serif;
}
h2,h3,h4,h5,h6 {
	font-family: Arial,Helvetica,sans-serif;
}
h2 {
	color: #eba31f;
	font-size: 1.4em;
}
h3 {
	color: #030e1a;
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.8em;
}

/* Lists */
ul {
	display: block;
	list-style: url(i/bullet_cl.png);
	margin: 0 0 1em 16px;
	padding: 0;
}
ul ul {
	list-style: url(i/bullet_tr.png);
}
ul ul ul {
	list-style: url(i/bullet_sq.png);
}
ol {
	margin: 0 0 1em 20px;
	padding: 0;
	list-style-type: decimal;
}
ol ol {
	list-style-type: upper-roman;
}
ol ol ol {
	list-style-type: lower-alpha;
}
ol ol ol ol {
	list-style-type: lower-greek;
}

dl {
	margin: 1em 0;
}
dt {
	margin: 1em 0 0 0;
	padding: 0;
	font-weight: bold;
}
dd {
	margin: 0 0 0 1em;
	padding: 0;
}
sup {
   line-height: 0.6em;
   font-size: 80%;
}
