/* --------------------------------------------------------
Dotclear.net (c) 2008. All rights reserved.
---------------------------------------------------------*/

/* Forms
-------------------------------------------------------- */
form {
	display: block;
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 1em 0;
	padding: 0.5em;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #626b73;
	background: #f1efe0;
}
legend {
	font-weight: bold;
	margin: 0 0 0.7em 0;
}
input, textarea {
	border-width : 1px;
}
input, select {
	vertical-align: middle;
}
input, textarea, select, option {
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Helvetica,Arial,sans-serif;
	font-size: 1em;
}
input[type=text], input[type=password], textarea {
	background: #fff;
	border-style: solid;
	border-color: #c2c1b1;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color: #eba31f;
}
input[type=checkbox], input[type=radio] {
	border: none;
}
input[type=submit], input[type=reset], input[type=button] {
	background: #f8b345;
	border-color: #f8b345;
	border-style: solid;
	color: #030e1a;
	-moz-border-radius: 3px;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus {
	background: #eba31f;
	border-color: #eba31f;
}
input[type=submit] {
	font-weight : bold;
}

form fieldset div {
	clear: left;
	margin: 0.5em 0;
}
form fieldset div label, form fieldset div span.label {
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
form fieldset div.controlset {
	margin-left: 170px;
}
form fieldset div.controlset label,
form fieldset div.area label {
	float: none;
	display: inline;
}
form fieldset div.area textarea {
	display: block;
	width: 100%;
}
form fieldset div.area p.note {
	margin-left: 0;
}
form fieldset p.note {
	clear: left;
	margin: 0 0 0 170px;
	font-style: italic;
}

form div.required label, form div.required span.label {
	font-weight: bold;
}
form div.required label:before, form div.required span.label:before {
	content: "* ";
	color: #c00;
	font-weight: bold;
}
form div.required.controlset label:after {
	content: "";
}