<div id="d-top"><div id="d-innertop">
    <h1><a href="/">Dotclear</a></h1>
</div></div>

<div id="d-mainnav"><div>
{{tpl:Blogroll only_category="menu"}}
</div></div>

<div id="d-subnav"><div>
<form action="/language" method="post" id="d-langswitcher">
  <p>
  <select name="lang" onchange="this.form.submit();">
    <option value="dotclear.org" {{tpl:SelectedLang test="dotclear.org"}}>English</option>
    <option value="fr.dotclear.org" {{tpl:SelectedLang test="fr.dotclear.org"}}>Fran&ccedil;ais</option>
  </select>
  </p>
  <noscript><p><input type="submit" value="ok" /></p></noscript>
</form>
{{tpl:Blogroll only_category="sub-menu"}}
</div></div>

<div id="d-wrapper">
<div id="d-main">
<div id="d-content">