<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:lang Tag}} &rsaquo; {{tpl:MetaID}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Tag}} &rsaquo; {{tpl:MetaID}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  <link rel="up" href="{{tpl:BlogURL}}" title="Blog" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
        <link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        
        <tpl:PaginationIf start="0">
        <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  {{tpl:include src="_blog_head.html"}}
</head>

<body class="dc-tag">

{{tpl:include src="_top.html"}}

  <div id="content-info" class="topbox">
    <h2><a href="{{tpl:BlogURL}}">{{tpl:BlogName}}</a> &#187;
    <a href="{{tpl:MetaAllURL}}">{{tpl:lang Tags}}</a> &#187; {{tpl:MetaID}}</h2>
    
    <p><a type="application/atom+xml" href="{{tpl:TagFeedURL type="atom"}}"
    title="{{tpl:lang This tag's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a>
    
    <tpl:SysIf operator="or" comments_active="1" pings_active="1">
    - <a type="application/atom+xml" href="{{tpl:TagFeedURL type="atom"}}/comments"
    title="{{tpl:lang This tag's comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a>
    </tpl:SysIf>
    </p>
  </div>
  
  <tpl:Entries>
    <div class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}">
    <!-- # New day date -->
    <tpl:DateHeader>
      <p class="day-date"><span class="dmonth">{{tpl:EntryDate format="%Y"}}
      <span>{{tpl:EntryDate format="%b"}}</span></span>
      <span class="dday">{{tpl:EntryDate format="%e"}}</span></p>
    </tpl:DateHeader>
    
    <h2 id="p{{tpl:EntryID}}" class="post-title"><a
    href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h2>
    
    <p class="post-info">{{tpl:lang By}} {{tpl:EntryAuthorLink}}
    {{tpl:lang on}} {{tpl:EntryDate}}, {{tpl:EntryTime}}
    <tpl:EntryIf has_category="1">
    - <a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory encode_html="1"}}</a>
    </tpl:EntryIf>
    </p>
    
    <tpl:EntryMetaData>
    <tpl:MetaDataHeader><ul class="post-tags"></tpl:MetaDataHeader>
    <li><a href="{{tpl:MetaURL}}">{{tpl:MetaID}}</a></li>
    <tpl:MetaDataFooter></ul></tpl:MetaDataFooter>
    </tpl:EntryMetaData>
    
    <!-- # Entry with an excerpt -->
    <tpl:EntryIf extended="1">
      <div class="post-content">{{tpl:EntryExcerpt}}</div>
      <p class="read-it"><a href="{{tpl:EntryURL}}"
      title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue
      reading}}</a>...</p>
    </tpl:EntryIf>
    
    <!-- # Entry without excerpt -->
    <tpl:EntryIf extended="0">
      <div class="post-content">{{tpl:EntryContent}}</div>
    </tpl:EntryIf>
    
    <!-- # Number of comments, trackbacks and attachments -->
    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
      <p class="post-info-co">
    </tpl:EntryIf>
    <tpl:EntryIf show_comments="1">
      <a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
    </tpl:EntryIf>
    <tpl:EntryIf show_pings="1">
      <a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
    <tpl:EntryIf has_attachment="1">
      <a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
      </p>
    </tpl:EntryIf>
    </div>
    
    <tpl:EntriesFooter>
      <tpl:Pagination>
        <p class="pagination"><tpl:PaginationIf end="0"><a href="{{tpl:PaginationURL offset="+1"}}" class="prev">&#171;
        {{tpl:lang previous entries}}</a> - </tpl:PaginationIf>
        {{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}
        <tpl:PaginationIf start="0"> - <a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}
        &#187;</a></tpl:PaginationIf></p>
      </tpl:Pagination>
    </tpl:EntriesFooter>
  </tpl:Entries>
  
{{tpl:include src="_blog_footer.html"}}

</body>
</html>